.content{
    display: flex;
    width:1400px;
    height:auto;
    padding-bottom:100px;
}
.bodywrap > div{
    width:1400px;
}
.contents{
    width:1400px;
}
.contents h2{
    border-bottom:1px solid #2b2b37;
    padding:10px 0;
    padding-left:20px;
}
.contents h2 a{
    color:#0275d8 !important;
}
.contents h2 a:hover{
    text-decoration: underline;
}
.system{
    width:1400px;
    margin-bottom: 50px;
    margin-top:10px;
    padding:0 20px;
}
.system hr{
    margin-top:10px;
}
.system span{
    color:#666;
}
.inlink{
    color:#0275d8;
}
.inlink:hover{
    text-decoration: underline;
}
.outlink{
    color:green;
}
.outlink:hover{
    text-decoration: underline;
}