body{
    box-sizing: border-box;
}
.contents{
    width:1400px;
    height:auto;
}
table{
    border:none;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0;
}
table td, table th{
    font-size:20px;
    border: 1px solid #2b2b37;
    height:auto;
    width:auto;
    margin:0;
    padding:0;
    text-align:center;
    border-collapse: collapse;
    border-spacing: 0px;
}
h3.h3{
    margin-top:50px;
    font-size:24px;
    text-align: center;
}
.contents table{
    max-width: 1400px;
    width:1400px;
    position:relative;
}
ul.tabmenu{
    margin:0;
    padding:0;
}
ul.tabmenu li{
    display: inline-block;
    background-color: #fff;
    color:#aaa;
    padding: 20px 40px;
    cursor:pointer;
    border:1px solid transparent;
    transition: all 0.5s ease;
}
ul.tabmenu li:hover{
    color:#f68500;
}
ul.tabnav_ul li.current{
    border-top: 2px solid #f68500;
    color:#f68500;
}
.tab-content{
    display: none;
}
.tab-content.current{
    display: inherit;
}
.exotic_armor_div{
    display: flex;
    justify-content: center;
}
.exotic_armor{
    width:calc((1400px / 3) - 5);
    float:left;
    margin-right:5px;
    position: relative;
    display:block;
}
.exotic_armor > table{
    width:100%;
}
.exotic_armor table tr td{
    width:calc(100% - 62px);
}
.exotic_armor table tr th{
    width:62px;
}
section table tr th{
    width:75px;
    height:75px;
}
.tierlist_weapon_img, .tierlist_armor_img{
    width:auto;
    height:75px;
    text-align: left !important;
}
.tierlist_weapon_img > img, .tierlist_armor_img > img{
    margin: 0;
    width:75px;
    vertical-align: middle;
    padding: 3px 0;
}
.week_reset{
    width:1400px;
    height:auto;
    position: relative;
    margin:0 auto;
    border: 1px solid #2b2b37;
    margin-bottom: 10px;
}
.week_reset p{
    display: block;
    text-align: center;
    height:100%;
    padding: 100px 0;
    font-size: 20px;
    font-weight: 700;
}