body{
    box-sizing: border-box;
}
.image_slide{
    width:1400px;
    height:600px;
    position: relative;
    overflow: hidden;
}
.image_slide > span{
    display: block;
    position:absolute;
}
.image_slide > span > img{
    width:1400px;
    height:600px;
    object-fit: cover;
}
.contents{
    width:1400px;
    height:auto;
}
table{
    border:none;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0;
}
table td, table th{
    font-size:20px;
    border: 1px solid #2b2b37;
    height:auto;
    width:auto;
    margin:0;
    padding:0;
    text-align:center;
    border-collapse: collapse;
    border-spacing: 0px;
}
h3.h3{
    margin-top:50px;
    font-size:24px;
    text-align: center;
}
.contents table{
    max-width: 1400px;
    width:1400px;
    position:relative;
}
ul.tabmenu{
    margin:0;
    padding:0;
}
ul.tabmenu li{
    display: inline-block;
    background-color: #fff;
    color:#aaa;
    padding: 20px 40px;
    cursor:pointer;
    border:1px solid transparent;
    transition: all 0.5s ease;
}
ul.tabmenu li:hover{
    color:#f68500;
}
ul.tabmenu li.current{
    border-top: 2px solid #f68500;
    color:#f68500;
}
.tab-content{
    display: none;
}
.tab-content.current{
    display: inherit;
}
section table tr th{
    width:75px;
    height:75px;
}
.tierlist_weapon_img{
    width:auto;
    height:75px;
    text-align: left !important;
}
.tierlist_weapon_img > img{
    margin: 0;
    width:75px;
    vertical-align: middle;
    padding: 3px 0;
}
.weapon_img{
    height: 80px;
    width: 80px;
    padding:0;
    margin:0;
}
.weapon_img > img{
    margin:0;
    width:80px;
    height:100%;
    display:block;
}
.weapon_slot{
    width:15px;
    height:15px;
    object-fit: cover;
}
.week_reset{
    width:1400px;
    position: relative;
}
.week_reset > h3{
    display:block;
    text-align:center;
}
